@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,600i,700');
*{margin: 0;padding: 0;outline: 0;}
body {
    background: url("images/Screenshot.jpg")repeat fixed 0 0 #fff;
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 20px;
}
.tamplate{width:960px;
    margin: 0 auto; }
.clear{overflow: hidden;}
.header_Section {
    background: #000000 none repeat scroll 0 0;
}
.logo_option{width: 500px;float: left;}
.logo_option img {
    float: left;
    height: 75px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.logo_option h2 {
    color: red;
    display: block;
    font-size: 30px;
    padding-bottom: 5px;
    padding-top: 30px;
}
.logo_option p {
    color: #578657;
    font-size: 18px;
}
.Social_option {
    float: right;
    width: 225px;
}
.Social_option img {
    height: 40px;
    padding-right: 10px;
    padding-top: 42px;
}
.Nevigation {
    background-color: #484848;
    border-bottom: 1px solid #120012;
}
.Nevigation ul{margin: 0;
    padding: 0;
    list-style: none;}
.Nevigation ul li{
    display:block;
    float: left;}
.Nevigation ul li a {
    color: #b3b3b3;
    display: block;
    font-size: 17px;
    margin: 5px 1px 5px 0;
    padding: 3px 18px;
    text-decoration: none;
}
.Nevigation ul li a:hover{
    background-color:#0a0f28;
    color: azure;
}
#active{ background-color:#0a0f28;}
input[type="text"], input[type="number"], input[type="email"] {
    border: 1px solid #979797;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 2px;
    width: 274px;
}
input[type="submit"] {
    background: #715c71 none repeat scroll 0 0;
    border: 1px solid #2e2e01;
    border-radius: 3px;
    color: #dfecfa;
    font-size: 20px;
    padding: 2px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background: #2297CE;
}
textarea {
    border: 1px solid #979797;
    border-radius: 4px;
    height: 93px;
    font-size: 16px;
    padding: 5px;
    width: 270px;
    margin-bottom: 9px;
}
.slider_section{}
.main_content {
    background: #dfecfa none repeat scroll 0 0;
}
.content {
    background: #f0fab4 none repeat scroll 0 0;
    border: 1px solid #d5d5a2;
    float: left;
    margin: 10px 10px 10px 0;
    padding: 10px;
    width: 648px;
}
.about_us{}
.about_us img {
    box-shadow: 0 10px 24px -2px #3d3d3d;
    display: block;
    width: 648px;
}
.about_us p {
    font-size: 15px;
    line-height: 22px;
    margin-top: 10px;
    text-align: justify;
    padding: 5px;
}
.content_post {}
.content_post h2,.about_us h2 {
    border-bottom: 1px solid #a4a46e;
    color: #715c71;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 10px;
}
.content_post img {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #7ead7e;
    float: left;
    height: 153px;
    margin-right: 10px;
    padding: 8px;
    width: 250px;
}
.content_post p {
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
}
.read_more{float: right;}
.read_more a {
    background: #e1eba5 none repeat scroll 0 0;
    border: 1px solid #818181;
    border-radius: 3px;
    color: #262737;
    display: block;
    font-size: 12px;
    margin-top: 10px;
    padding: 2px 8px;
    text-decoration: none;
}
.read_more a:hover{
    color:#DE5925;
}
.sideber {
    background: #cfadf0 none repeat scroll 0 0;
    border: 1px solid #a4a4a4;
    float: right;
    margin: 10px 0;
    padding: 10px;
    width: 258px;
}
.sideber_hedder{}


.sideber_hedder p {
    margin-bottom: 10px;
}
.sideber_hedder h2 {
    background: #715c71 none repeat scroll 0 0;
    border-bottom: 1px solid #120012;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 8px;
    padding: 10px;
    text-align: center;
}
.sideber_hedder ul {
    list-style: outside none none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    margin-bottom: 10px;
}
.sideber_hedder ul li {
    border-bottom: 1px solid #af90af;
    font-size: 15px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
.sideber_hedder ul li:last-child {
   border-bottom: 0px solid #af90af;}

.sideber_hedder ul li a {
    text-decoration: none;
    color: #321d32;
}
.sideber_hedder ul li a:hover{}
.popular { }
.popular h3 {
    border-bottom: 1px solid #b694c4;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
}
.popular h3 a {
    color: #4f3a4f;
    padding: 5px;
    text-decoration: none;
}
.popular img {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #8b8b8b;
    border-radius: 3px;
    float: left;
    height: 47px;
    margin-right: 8px;
    margin-top: 4px;
    padding: 3px;
    width: 75px;
}
.popular p {
    font-size: 14px;
    text-align: justify;
}
.footer {
    background: #000 none repeat scroll 0 0;
    height: 100px;
    color: #ffffff;
    text-align: center;
}
.footer_menu{}
.footer_menu ul{margin: 0;padding: 0;list-style: none;text-align: center;}
.footer_menu ul li{display: inline-block;
    border-right: 1px solid #292930;
    margin-top: 10px;}
.footer_menu ul li a {

    display: block;
    font-size: 16px;
    color: #715C71;
    padding: 10px;
}
.footer_menu ul li:last-child{ border-right: 0px solid #292930;}
.footer_menu ul li a:hover{

    color: #cfadf0;
}
.footer p {
    color: #f0fab4;
    font-size: 16px;
    margin-top: 15px;
}
